

@mixin specificity($depth: 1) {
  $suffix: "";
  @for $i from 0 to $depth {
    $suffix: $suffix + ":nth-child(n)";
  }
  &#{$suffix} {
    @content;
  }
}

$breakpoint-small: 768px;
$breakpoint-med-small: 992px;
$breakpoint-med: 1200px;
$breakpoint-large: 1400px;
$breakpoint-XLarge: 1900px;

@mixin screen($size, $type: min, $pixels: $breakpoint-small) {
  @if $size == "small" {
    @media screen and (#{$type}-width: $breakpoint-small) {
      @content;
    }
  } @else if $size == "med-small" {
    @media screen and (#{$type}-width: $breakpoint-med-small) {
      @content;
    }
  } @else if $size == "med" {
    @media screen and (#{$type}-width: $breakpoint-med) {
      @content;
    }
  } @else if $size == "large" {
    @media screen and (#{$type}-width: $breakpoint-large) {
      @content;
    }
  } @else if $size == "custom" {
    @media screen and (#{$type}-width: #{$pixels}px) {
      @content;
    }
  } @else {
    @content;
  }
}


%inputBlock {
  width: 100%;
  margin: 5px 0 20px 0;
  padding: 12.5px 10px 10px 10px;
  border-radius: 5px;
  border: none;
  font-size: 12px;

  &:focus{
    border: none;
    outline: none;
    color: #000;
  }
}