/* You can add global styles to this file, and also import other style files */
@use 'src/styles/mixins.scss' as *;
@import "~normalize.css";


html,
body {
  font-family: "Inter", "Helvetica Neue", sans-serif;
  background-color: var(--bg-color);
}

* {
  color: var(--text-color);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:not(.btn, .btnPrimary) {
  color: var(--text-color);
  text-decoration: none;
}

aside {
  @include specificity(2) {
    z-index: 15;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.modal-body{
  padding: 0 !important;
  pointer-events: all !important;
}

body > ngb-modal-window > div > div > app-book-modal {
  background-color: rgba(0, 0, 0, 0.97);
  border: none;
  padding: 0;
}

body > app-root > app-home > section > article > app-book-carousel > div > drag-scroll > div {
  overflow-x: auto !important;
  @include screen(small){
    overflow-x: hidden !important;
  }
}