@use "src/styles/mixins.scss" as *;

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url(https://assets.nflxext.com/ffe/siteui/vlv3/5523db5a-e2b2-497f-a88b-61f175c3dbad/1f79c6fe-86df-46d6-978e-67fe199acaef/CO-es-20230306-popsignuptwoweeks-perspective_alpha_website_large.jpg);
  background-color: rgba(0,0,0,.7);
  background-blend-mode: multiply;
}

.signForm {
  border-radius: 5px;
  width: 400px;
  padding: 20px;
  color: #fff;
  background-color: rgba(0,0,0,.6);

  > div {
    > label {
      font-size: 16px;
    }
    > input {
      @extend %inputBlock;
    }
  }

  button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
    background: #e50914;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(101%);
    }
  }

  &__desc {
    margin: 10px;
    color: rgba(120, 120, 120);
    font-size: 10px;
  }
}
