<div class="modal-fade">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-body">
      <header class="modalHeader">
        <img src="../../../../../assets/exit.svg" alt="exit" (click)="closeModal()" />
      </header>
      <div class="modalBook">
        <section class="modalBook__left">
          <picture>
            <img
              src="{{ book?.volumeInfo?.imageLinks?.thumbnail | toHttps }}"
              alt=""
            />
          </picture>
          <p>Author : {{ book?.volumeInfo?.authors }}</p>
          <p>Date: {{ book?.volumeInfo?.publishedDate }}</p>
          <p>Language: {{ book?.volumeInfo?.language }}</p>
          <button>Buy</button>
        </section>
        <section class="modalBook__right">
          <p>Title : {{ book?.volumeInfo?.title }}</p>
          <p class="modalBook__sipnosis">
            Sypnosis : {{ book?.volumeInfo?.description }}
          </p>
          <div class="modalBook__valorations_box">
            <p>Ratings</p>
          </div>
          <form [formGroup]="bookForm" (ngSubmit)="sendBookReview()">
            <input
              type="text"
              formControlName="review"
              placeholder="Send your review"
            />
            <button [disabled]="bookForm.invalid" type="submit">Send</button>
          </form>
          <div class="modalBook__values">
            <p *ngFor="let item of reviews">
              {{ item.name }} : {{ item.review }}
            </p>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
