.home{
    background: #000;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

    &__header{
        padding: 20px;
        background: #000;

        > form > input {
            padding: 7px 10px;
            width: 500px;
            background: #000;
            color: #FFF;
            border: solid 1px #FFF;


            &:focus,&:active{
                box-shadow: none;
            }
        }
    }
}

.carousel{
    overflow-x: hidden;
}