@use "src/styles/mixins.scss" as *;

.books {
  background-color: #000;
  color: #fff;
  padding: 5px 20px;
  overflow-x: hidden;

  > h3 {
    margin: 5px 0;
    font-size: 17px;
    font-weight: 300;
  }

  &__content {
    display: flex;
    width: 100%;
    padding: 10px 0;
    height: 200px;
    gap: 10px;
    overflow-x: hidden;

    @include screen(small) {
      height: 310px;
    }
  }
}
