<section class="overlay">
  <form [formGroup]="signupForm" (ngSubmit)="validateForm()" class="signForm">
    <h1>Sign up</h1>
    <div>
      <label for="user">Username</label>
      <input
        type="text"
        id="user"
        placeholder="Username"
        formControlName="name"
        autocomplete="off"
      />
    </div>
    <div>
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        placeholder="Email"
        formControlName="email"
        autocomplete="off"
      />
    </div>
    <div>
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        placeholder="Password"
        formControlName="password"
        autocomplete="off"
      />
    </div>
    <p class="signForm__desc">
      This page is protected by Google reCAPTCHA to verify that you are not a robot. a robot. More info.
    </p>
    <p class="signForm__desc">
      already have an account ? <a routerLink="/signin">log in</a>
    </p>
    <button type="submit" [disabled]="signupForm.invalid">Sign up</button>
  </form>
</section>
