<section class="overlay">
  <form [formGroup]="signupForm" (ngSubmit)="validateForm()" class="signForm">
    <h1>Sign up</h1>
    <div>
      <label for="user">Username</label>
      <input
        type="text"
        id="user"
        placeholder="Username"
        formControlName="name"
        autocomplete="off"
      />
      <div>
        <small
          *ngIf="
            signupForm.get('name')?.touched &&
            signupForm.get('name')?.invalid
          "
        >
          Username is required
        </small>
      </div>
    </div>
    <div>
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        placeholder="Email"
        formControlName="email"
        autocomplete="off"
      />
      <div>
        <small
          *ngIf="
            signupForm.get('email')?.touched && signupForm.get('email')?.invalid
          "
        >
          Your email is not valid
        </small>
      </div>
    </div>
    <div>
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        placeholder="Password"
        formControlName="password"
        autocomplete="off"
      />
      <div>
        <small
          *ngIf="
            signupForm.get('password')?.touched &&
            signupForm.get('password')?.invalid
          "
        >
          Your password must be at least a,1,@
        </small>
      </div>
    </div>
    <p class="signForm__desc">
      This page is protected by Google reCAPTCHA to verify that you are not a
      robot. a robot. More info.
    </p>
    <p class="signForm__desc">
      already have an account ? <a routerLink="/signin">log in</a>
    </p>
    <button type="submit" [disabled]="signupForm.invalid">Sign up</button>
  </form>
</section>
